@import url(sanitize.css);

.content
{
	background-color: #fff;
	width: 600px;
	margin: 10px auto;
	border: 1px solid #d1d1d1;
	padding: 30px;
}
@media screen and (max-width: 600px)
{
	.content
	{
		width: auto;
	}
}

.control
{
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container
{
	width: 600px;
	margin: 10px auto;
	box-shadow: 0 0 10px rgba(0,0,0, .3);
}
@media screen and (max-width: 600px)
{
	.container
	{
		width: auto;
	}
}

header
{
	/*background-color: #422814; */ /* chairo */
	/*background-color: #7fffd4; */ /* aquamarine */
	/*background-color: #4169e1; */ /* royalblue */
	/*background-color: #2096F3; */
	/*background-color: #d2691e; */ /* chocolate */
	background-color: #ff8c00; /* darkorange */
	padding: 10px;
	color: #fff; /* white */
}

h1
{
	margin: 0;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	/*color: blue;*/
}

body
{
	background-color: #f0f0f0;
	padding: 10px;
	font-size: 14px;
	color: #666;
}

/*
input
{
	border-bottom: 1px solid #d1d1d1;
	font-size: 1.2em;
}
*/

#normal_box
{
	width: 70%;
	padding: 8px;
}

#under_line
{
	width: 70%;
	padding: 8px;
	border-right: none;
	border-left: none;
	border-top: none;
}


button
{
	width: 100%;
	/*background-color: #2096F3;*/
	background-color: #ff8c00; /* darkorange */
	color: #fff;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0 0 8px rgba(0,0,0, .4);
	font-size: 1.2em;
	font-weight: bold;
}

label
{
	display: block;
	margin-bottom: .5em;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
  /*margin: auto;*/
  margin: 5px auto;
  /*width: 100%;*/
}

table tr
{
  border-bottom: solid 1px #eee;
  cursor: pointer;
  /*border-width: 1px 0px;*/
  border-top-width: 2px;
  border-color : #000000;
}

table tr:hover
{
  background-color: #d4f0fd;
}

table th,table td
{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

/* for button */
.btn-flat-border-base
{
  /*display: inline-block;*/
  padding: 0.3em 1em;
  text-decoration: none;
  /*color: #67c5ff;*/
  /*border: solid 2px #67c5ff;*/
  /*border-radius: 3px;*/
  transition: .4s;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px)
{
	.btn-flat-border-base
	{
		display: block;
		width: 100%;
		justify-content: center;
		text-align: center;
		margin: 10px auto;
	}
}

.btn-flat-border
{
  /*display: inline-block;*/
  padding: 0.3em 1em;
  /*text-decoration: none;*/
  /*color: #67c5ff;*/
  color: #a0522d; /* chairo */
  /*border: solid 2px #67c5ff;*/
  /*border: solid 2px #e9967a;*/
  /*border: solid 2px #800000;*/ /* maroon */
  border: solid 2px #d2691e; /* chocolate */
  border-radius: 3px;
  transition: .4s;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}
@media screen and (max-width: 600px)
{
	.btn-flat-border
	{
	    padding: 1em 1em;
		justify-content: center;
		width: 100%;
	}
}

.btn-flat-border:hover
{
  /*background: #67c5ff;*/
  /*background: #e9967a;*/
  background: #ff8c00; /* darkorange */
  color: white;
}

.memo
{
	width: 300px;
	margin: 0.3em;
}
@media screen and (max-width: 600px)
{
	.memo
	{
	width: 100%;
	}
}

@media screen and (max-width: 600px)
{
	.centering_parent
	{
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}
	.centering_item
	{
		text-align: center;
		margin: 0 auto;
		width: 70%;
	}
}

/* reference: https://saruwakakun.com/html-css/reference/buttons */
.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  /* color: #ff8c00; */ /* darkorange */
  /* color: #696969; */ /* dimgray */
  color: #000000; /* black */
}
@media screen and (max-width: 600px)
{
	.btn-border-bottom {
		text-align: center;
	}
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background: #ff8c00; /* darkorange */
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.input_submit
{
  display       : inline-block;
  border-radius : 5%;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background: #ff8c00; /* darkorange */
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 4px 4px 3px #666666;
  border        : 2px solid #ff7f00;
}
.input_submit:hover
{
  box-shadow    : none;
  color         : #ff7f00;
  background    : #ffffff;
}


#form5{
position:relative; 
margin-bottom:20px;	
}
#sbox5{	
outline:0;	
height:40px;
padding:0 10px; 
/*position:absolute; */
/*left:0;*/
/*top:0; */
/*max-width:270px;*/
width: 50%;
border-radius:2px;
background-color: #f0f0f0;
}
#sbtn5{
width:50px;
height:30px;
/*position:absolute; */
/*left:280px; */
/*top:0;*/
border-radius:2px;
/*background: #ff8c00; */ /* darkorange */
/*color:#fff;*/
/*color: #f0f0f0;*/
color: #696969; /* dimgray */
font-weight:bold;
font-size:16px;
/*border:none;*/
/*border: 3px solid #ff8c00;*/
border-bottom: solid 3px #696969;
border-radius:5px;
}
/*#sbtn5:hover{*/
/*background:#eee;*/
/*color: #ff8c00; /* darkorange */
/*}*/
#sbtn5:active{
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  border-bottom: none;
}

@media screen and (max-width: 600px)
{
	.centering
	{
		text-align: center;
	}
}
